#s-5238c159-f63a-47ff-97d1-1e2cdccd2b2e #s-more_options {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5238c159-f63a-47ff-97d1-1e2cdccd2b2e #s-list .s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5238c159-f63a-47ff-97d1-1e2cdccd2b2e #s-list .s-starts_image {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5238c159-f63a-47ff-97d1-1e2cdccd2b2e #s-list .s-image {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5238c159-f63a-47ff-97d1-1e2cdccd2b2e #s-list .s-click_area {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5238c159-f63a-47ff-97d1-1e2cdccd2b2e #s-logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5238c159-f63a-47ff-97d1-1e2cdccd2b2e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5238c159-f63a-47ff-97d1-1e2cdccd2b2e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}