#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-euros_person {
  -ms-transform: rotate(0.0deg);
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-to_price {
  -ms-transform: rotate(0.0deg);
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-price_ranges_from {
  -ms-transform: rotate(0.0deg);
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-reviews_literal {
  -ms-transform: rotate(0.0deg);
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-from_reviews {
  -ms-transform: rotate(0.0deg);
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-starts_image {
  -ms-transform: rotate(0.0deg);
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-image {
  -ms-transform: rotate(0.0deg);
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-click_area {
  -ms-transform: rotate(0.0deg);
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-toggle_list_map {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E9AD3F;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E9AD3F;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E9AD3F;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E9AD3F;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 102px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_bkg {
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 10px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_bkg_1 {
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 10px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-location_input-options {
  background-color: #FFFFFF;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_bkg_2 {
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 10px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-cuisine_input-options {
  background-color: #FFFFFF;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_bkg_3 {
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 10px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-rating_input-options {
  background-color: #FFFFFF;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_bkg_4 {
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 10px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-logo {
  -ms-transform: rotate(0.0deg);
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}