#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1280px;
  min-width: 1280px;
  min-height: 800px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-DynamicPanel {
  position: absolute;
  top: 154px;
  left: 615px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-ListPanel {
  width: 650px;
  height: 500px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-ListPanel td.layout {
  padding: 0px 0px 0px 0px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-ListPanel .verticalalign {
  vertical-align: top;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #FDFDFD;
  background-image: none;
  box-shadow: none;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-row_1 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-row_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-row_1 .verticalalign {
  vertical-align: top;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-row_1 {
  background-color: #FDFDFD;
  background-image: none;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  box-shadow: none;
  cursor: pointer;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-price_range {
  position: absolute;
  top: 81px;
  left: 358px;
  width: 261px;
  height: 20px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-euros_person {
  position: absolute;
  top: 1px;
  left: 192px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-euros_person .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-euros_person span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-euros_person span#rtr-s-euros_person_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-max_price input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-max_price input::-moz-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-max_price input:-moz-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-max_price input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-max_price {
  position: absolute;
  top: 0px;
  left: 169px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-max_price .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-max_price input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-to_price {
  position: absolute;
  top: 1px;
  left: 152px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-to_price .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-to_price span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-to_price span#rtr-s-to_price_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-min_price input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-min_price input::-moz-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-min_price input:-moz-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-min_price input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-min_price {
  position: absolute;
  top: 0px;
  left: 127px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-min_price .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-min_price input {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-price_ranges_from {
  position: absolute;
  top: 1px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-price_ranges_from .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-price_ranges_from span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-price_ranges_from span#rtr-s-price_ranges_from_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-reviews_text {
  position: absolute;
  top: 46px;
  left: 391px;
  width: 228px;
  height: 20px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-reviews input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-reviews input::-moz-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-reviews input:-moz-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-reviews input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-reviews {
  position: absolute;
  top: 0px;
  left: 137px;
  width: 38px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-reviews .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-reviews input {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-reviews_literal {
  position: absolute;
  top: 1px;
  left: 175px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-reviews_literal .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-reviews_literal span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-reviews_literal span#rtr-s-reviews_literal_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-from_reviews {
  position: absolute;
  top: 1px;
  left: 58px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Arial',Arial;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-from_reviews .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-from_reviews span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-from_reviews span#rtr-s-from_reviews_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-rating input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-rating input::-moz-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-rating input:-moz-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-rating input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-rating {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 53px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-rating .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-rating input {
  color: #666666;
  text-align: right;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-rating_starts {
  position: absolute;
  top: 11px;
  left: 489px;
  width: 130px;
  height: 22px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 130px;
  height: 22px;
  background-color: #99CC33;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-starts_image > svg {
  width: 130px;
  height: 22px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-starts_image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 130px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-cuisine_type input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-cuisine_type input::-moz-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-cuisine_type input:-moz-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-cuisine_type input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-cuisine_type {
  position: absolute;
  top: 39px;
  left: 170px;
  width: 261px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-cuisine_type .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-cuisine_type input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-name input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-name input::-moz-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-name input:-moz-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-name input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-name {
  position: absolute;
  top: 6px;
  left: 170px;
  width: 261px;
  height: 34px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-name .valign {
  vertical-align: middle;
  line-height: 16.0pt;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-name input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-image {
  position: absolute;
  top: 8px;
  left: 9px;
  width: 141px;
  height: 105px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #99CC33;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #99CC33;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #99CC33;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #99CC33;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-click_area {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 650px;
  height: 133px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-click_area .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-click_area span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-list .s-click_area span#rtr-s-click_area_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-MapPanel {
  width: 750px;
  height: 500px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-MapPanel td.layout {
  padding: 0px 0px 0px 0px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-MapPanel .verticalalign {
  vertical-align: top;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Browser_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 750px;
  height: 500px;
  box-shadow: none;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-toggle_list_map {
  position: absolute;
  top: 110px;
  left: 1153px;
  width: 102px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E9AD3F;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E9AD3F;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E9AD3F;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E9AD3F;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-toggle_list_map .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-toggle_list_map span {
  color: #E9AD3F;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-toggle_list_map span#rtr-s-toggle_list_map_0 {
  color: #E9AD3F;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-filters {
  position: absolute;
  top: 154px;
  left: 58px;
  width: 530px;
  height: 365px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_bkg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 510px;
  height: 35px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 10px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_bkg .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_bkg span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_bkg span#rtr-s-search_bkg_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_input input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_input input::-moz-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_input input:-moz-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_input input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_input {
  position: absolute;
  top: 10px;
  left: 228px;
  padding-left: 14px;
  width: 265px;
  height: 13px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E9AD3F;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E9AD3F;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E9AD3F;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E9AD3F;
  border-radius: 18px 18px 18px 18px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_input .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_input input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Image_1 > svg {
  width: 36px;
  height: 35px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Image_1 {
  position: absolute;
  top: 10px;
  left: 13px;
  width: 36px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_bkg_1 {
  position: absolute;
  top: 64px;
  left: 0px;
  width: 509px;
  height: 86px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 10px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_bkg_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_bkg_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_bkg_1 span#rtr-s-search_bkg_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Image_2 > svg {
  width: 36px;
  height: 35px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Image_2 {
  position: absolute;
  top: 99px;
  left: 13px;
  width: 36px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-address_input input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-address_input input::-moz-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-address_input input:-moz-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-address_input input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-address_input {
  position: absolute;
  top: 123px;
  left: 228px;
  padding-left: 14px;
  width: 265px;
  height: 13px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E9AD3F;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E9AD3F;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E9AD3F;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E9AD3F;
  border-radius: 18px 18px 18px 18px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  box-shadow: none;
  text-shadow: none;
  cursor: text;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-address_input .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-address_input input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-location_input {
  position: absolute;
  top: 77px;
  left: 228px;
  padding-left: 14px;
  width: 265px;
  height: 13px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E9AD3F;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E9AD3F;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E9AD3F;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E9AD3F;
  border-radius: 18px 18px 18px 18px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-location_input .valign {
  width: 247px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Category_1 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Category_1 {
  position: absolute;
  top: 77px;
  left: 54px;
  padding-left: 5px;
  width: 173px;
  height: 81px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  text-align: left;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_bkg_2 {
  position: absolute;
  top: 180px;
  left: 0px;
  width: 510px;
  height: 35px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 10px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_bkg_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_bkg_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_bkg_2 span#rtr-s-search_bkg_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Image_3 > svg {
  width: 36px;
  height: 35px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Image_3 {
  position: absolute;
  top: 190px;
  left: 13px;
  width: 36px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-cuisine_input {
  position: absolute;
  top: 190px;
  left: 228px;
  padding-left: 14px;
  width: 265px;
  height: 13px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E9AD3F;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E9AD3F;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E9AD3F;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E9AD3F;
  border-radius: 18px 18px 18px 18px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-cuisine_input .valign {
  width: 247px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_bkg_3 {
  position: absolute;
  top: 245px;
  left: 0px;
  width: 510px;
  height: 35px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 10px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_bkg_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_bkg_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_bkg_3 span#rtr-s-search_bkg_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Image_4 > svg {
  width: 36px;
  height: 35px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Image_4 {
  position: absolute;
  top: 255px;
  left: 13px;
  width: 36px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Text_1 {
  position: absolute;
  top: 19px;
  left: 64px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Text_1 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Text_1 span#rtr-s-Text_1_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Text_2 {
  position: absolute;
  top: 200px;
  left: 64px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Text_2 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Text_2 span#rtr-s-Text_2_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Text_2 span#rtr-s-Text_2_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Text_3 {
  position: absolute;
  top: 264px;
  left: 64px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Text_3 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Text_3 span#rtr-s-Text_3_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Text_3 span#rtr-s-Text_3_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-rating_input {
  position: absolute;
  top: 255px;
  left: 228px;
  padding-left: 14px;
  width: 265px;
  height: 13px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E9AD3F;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E9AD3F;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E9AD3F;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E9AD3F;
  border-radius: 18px 18px 18px 18px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  vertical-align: middle;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-rating_input .valign {
  width: 247px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_bkg_4 {
  position: absolute;
  top: 310px;
  left: 0px;
  width: 510px;
  height: 35px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 10px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_bkg_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_bkg_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-search_bkg_4 span#rtr-s-search_bkg_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Image_5 > svg {
  width: 36px;
  height: 35px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Image_5 {
  position: absolute;
  top: 320px;
  left: 13px;
  width: 36px;
  height: 35px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Text_4 {
  position: absolute;
  top: 329px;
  left: 64px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Text_4 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Text_4 span#rtr-s-Text_4_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-price_min_input input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-price_min_input input::-moz-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-price_min_input input:-moz-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-price_min_input input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-price_min_input {
  position: absolute;
  top: 320px;
  left: 228px;
  padding-left: 14px;
  width: 93px;
  height: 13px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E9AD3F;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E9AD3F;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E9AD3F;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E9AD3F;
  border-radius: 18px 18px 18px 18px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  box-shadow: none;
  text-shadow: none;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-price_min_input .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-price_min_input input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-price_max_input input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-price_max_input input::-moz-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-price_max_input input:-moz-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-price_max_input input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-price_max_input {
  position: absolute;
  top: 320px;
  left: 400px;
  padding-left: 14px;
  width: 93px;
  height: 13px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E9AD3F;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E9AD3F;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E9AD3F;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E9AD3F;
  border-radius: 18px 18px 18px 18px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  box-shadow: none;
  text-shadow: none;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-price_max_input .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-price_max_input input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Text_5 {
  position: absolute;
  top: 329px;
  left: 362px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Text_5 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-Text_5 span#rtr-s-Text_5_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-logo > svg {
  width: 285px;
  height: 37px;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc #s-logo {
  position: absolute;
  top: 22px;
  left: 29px;
  width: 285px;
  height: 37px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  cursor: pointer;
}
#s-cf04ad44-13c1-40ab-87d8-87a0af3d1dfc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}