#s-d0a0141a-1e3b-4d16-9feb-16a99e970127 #s-events_rect {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0a0141a-1e3b-4d16-9feb-16a99e970127 #s-food_type {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0a0141a-1e3b-4d16-9feb-16a99e970127 #s-name {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0a0141a-1e3b-4d16-9feb-16a99e970127 #s-your_review {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0a0141a-1e3b-4d16-9feb-16a99e970127 #s-logo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0a0141a-1e3b-4d16-9feb-16a99e970127 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0a0141a-1e3b-4d16-9feb-16a99e970127 #s-more_options {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0a0141a-1e3b-4d16-9feb-16a99e970127 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0a0141a-1e3b-4d16-9feb-16a99e970127 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0a0141a-1e3b-4d16-9feb-16a99e970127 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0a0141a-1e3b-4d16-9feb-16a99e970127 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0a0141a-1e3b-4d16-9feb-16a99e970127 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0a0141a-1e3b-4d16-9feb-16a99e970127 #s-services_accessibility {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0a0141a-1e3b-4d16-9feb-16a99e970127 #s-services_dogs_allowed {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0a0141a-1e3b-4d16-9feb-16a99e970127 #s-services_gluten_free {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0a0141a-1e3b-4d16-9feb-16a99e970127 #s-services_credit_card {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0a0141a-1e3b-4d16-9feb-16a99e970127 #s-more_services {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0a0141a-1e3b-4d16-9feb-16a99e970127 #s-more_options_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0a0141a-1e3b-4d16-9feb-16a99e970127 #s-more_options_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d0a0141a-1e3b-4d16-9feb-16a99e970127 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}