#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-footer {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-register {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E9AD3F;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E9AD3F;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E9AD3F;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E9AD3F;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 60px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-login {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E9AD3F;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #E9AD3F;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #E9AD3F;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #E9AD3F;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 60px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-user_icon {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-username {
  -ms-transform: rotate(0.0deg);
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}